[//]: # (title)
# Welcome to the first tutorial
## This will be fun

___

[//]: # (heading_text_snippet)
## Import

This first post will introduce you to pandas DataFrames. It will include how to create them in various ways. But first, import pandas:

In [6]:
import pandas as pd

___

[//]: # (heading_snippet_output)
## Create DataFrame from dict

In [7]:
pop_dict = {
    'country' : ['Denmark', 'Sweden', 'Norway', 'Denmark'],
    'city' : ['Copenhagen', 'Stockholm', 'Oslo', 'Odense'],
    'population' : [602_481, 975_551, 634_293, 200_703],
}

df = pd.DataFrame(pop_dict)
df

   country        city  population
0  Denmark  Copenhagen      602481
1   Sweden   Stockholm      975551
2   Norway        Oslo      634293
3  Denmark      Odense      200703

___

[//]: # (heading_snippet_output)
## Create DataFrame from list of dicts

In [8]:
pop_list = [
    {'country':'Denmark', 'city':'Copenhagen', 'population':602_481},
    {'country':'Sweden', 'city':'Stockholm', 'population':975_551},
    {'country':'Norway', 'city':'Oslo', 'population':634_293},
    {'country':'Denmark', 'city':'Odense', 'population':200_703},
]

df = pd.DataFrame(pop_list)
df

   country        city  population
0  Denmark  Copenhagen      602481
1   Sweden   Stockholm      975551
2   Norway        Oslo      634293
3  Denmark      Odense      200703

___

[//]: # (heading_snippet_output)
## Create DataFrame from CSV file

In [9]:
df = pd.read_csv('file_folder/population.csv')
df

   country        city  population
0  Denmark  Copenhagen      602481
1   Sweden   Stockholm      975551
2   Norway        Oslo      634293
3  Denmark      Odense      200703

___

[//]: # (heading_snippet_output)
## Create DataFrame from Excel

In [10]:
df = pd.read_excel('file_folder/population.xlsx')
df

   country        city  population
0  Denmark  Copenhagen      602481
1   Sweden   Stockholm      975551
2   Norway        Oslo      634293
3  Denmark      Odense      200703